
/*Page attributes*/
body {
    background-color: #ffffff;
    padding-top: 20px;
    margin-left: 60px;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif
}

table {
    width: 98%;
    border: 0px;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
}

td a {
    padding-right: 100px;
    color: #ce09b9;
    white-space: nowrap;
}

p a {
	color: #ce09b9;
}

table td.expand {
    width: 99%;
}

/*Classes*/
.blockname {
    line-height: 1px;
}

.faintname {
    color: black;
    opacity: 0.4;
}

/*Identifiers*/
table#memberlist tr:nth-child(even) {
    background-color: #ffffff;
}
table#memberlist tr:nth-child(odd) {
    background-color: #eee;
}
        