
/*Page Attributes*/
body {
    background-color: #ffffff;
    padding-top: 20px;
    margin-left: 60px;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif
}

code {
    display: block;
    font-family: monospace;
    border: 1px solid rgba(0,0,0,0.15);
    margin-right: 50px;
    padding-left: 20px;
}

h1 a {
    text-decoration: underline;
    color: black;
}

h1 a:hover {
    text-decoration: none;
}

p a {
    color: #ce09b9;
}

a {
	color: #ce09b9;
}

pre a {
    color: #ce09b9;
}

/*Classes*/
.blockname {
    line-height: 15px;
}

.copyright {
    color: black;
    opacity: 0.4;
}

.faintname {
    color: black;
    opacity: 0.8;
}
        