
body {
    padding-top: 25px;
    background-color: #1d2233;
}

h2 {
    padding-top: 10px;
    padding-left: 15px;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    color: #7d84a5;
    opacity: 0.5;
    font-weight: 300;
    font-size: 1.7em;
    line-height: 70%;
}

p {
    display: block;
    text-decoration: none;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    color:white;
    padding-left: 30px;
    padding-top: 16px;
    padding-bottom: 11px;
    margin: 5px;
}

p:hover {
    background-color: #111;
    border-top: 1px solid  white;
    border-bottom: 1px solid  white;
}

p a {
    text-decoration: none;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    color:white;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 5%;
}

.active {
    background-color: green;
}

hr { 
    border-width: 0;
    height: 1px;
    background-color:white;
    opacity: 0.2;
}
        